/* ------------------------------------------------------------------------------

  1.  Global

      0.1 Typography
        0.1.0 Global
        0.1.1 Font size
        0.1.2 Padding
        0.1.3 Margin
        0.1.4 Border

      1.1 Navbar
      1.2 Sidebar
      1.3 Base layout
      1.4 Base NotFound layout
      1.5 Login form

  2.  Chat

  3.  Pages

      3.1 Instructions

-------------------------------------------------------------------------------*/

/*----------------------------------------------------------
          0.1 Typography

                0.1.0 Global
-----------------------------------------------------------*/

.hide:not(i.icon) {
    display: none !important;
}

.ui.button.copy {
    padding: 0 12px;
}

.ui.button.copy .icon {
    margin: 0 !important;
}

/*----------------------------------------------------------
                    0.1.1 Font size
-----------------------------------------------------------*/

.fs5 {
    font-size: 5px;
}

.fs6 {
    font-size: 6px;
}

.fs7 {
    font-size: 7px;
}

.fs8 {
    font-size: 8px;
}

.fs9 {
    font-size: 9px;
}

.fs10 {
    font-size: 10px;
}

.fs11 {
    font-size: 11px;
}

.fs12 {
    font-size: 12px;
}

.fs13 {
    font-size: 8px;
}

.fs14 {
    font-size: 14px;
}

.fs15 {
    font-size: 15px;
}

.fs16 {
    font-size: 165px;
}

.fs18 {
    font-size: 18px;
}

.fs20 {
    font-size: 20px;
}

.fs22 {
    font-size: 22px;
}

.fs24 {
    font-size: 24px;
}

.fs26 {
    font-size: 26px;
}

.fs28 {
    font-size: 28px;
}

.fs30 {
    font-size: 30px;
}

.fs32 {
    font-size: 32px;
}

.fs34 {
    font-size: 34px;
}

.fs36 {
    font-size: 36px;
}

.fs38 {
    font-size: 38px;
}

.fs40 {
    font-size: 40px;
}

.fs42 {
    font-size: 42px;
}

.fs44 {
    font-size: 44px;
}

.fs46 {
    font-size: 46px;
}

.fs48 {
    font-size: 48px;
}

.fs50 {
    font-size: 50px;
}

.fs52 {
    font-size: 52px;
}

.fs54 {
    font-size: 54px;
}

.fs56 {
    font-size: 56px;
}

.fs58 {
    font-size: 58px;
}

.fs60 {
    font-size: 60px;
}

.fs65 {
    font-size: 65px;
}

.fs70 {
    font-size: 70px;
}

.fs75 {
    font-size: 75px;
}

.fs80 {
    font-size: 80px;
}

.fs85 {
    font-size: 85px;
}

.fs90 {
    font-size: 90px;
}

.fs95 {
    font-size: 95px;
}

.fs100 {
    font-size: 100px;
}

/*----------------------------------------------------------
                    0.1.2 Padding
-----------------------------------------------------------*/

.p0 {
    padding: 0 !important;
}

/* padding-right */

.pr0 {
    padding-right: 0px !important;
}

.pr5 {
    padding-right: 5px !important;
}

.pr10 {
    padding-right: 10px !important;
}

.pr15 {
    padding-right: 15px !important;
}

.pr20 {
    padding-right: 20px !important;
}

.pr25 {
    padding-right: 25px !important;
}

.pr30 {
    padding-right: 30px !important;
}

.pr35 {
    padding-right: 35px !important;
}

.pr40 {
    padding-right: 40px !important;
}

.pr45 {
    padding-right: 45px !important;
}

.pr50 {
    padding-right: 50px !important;
}

.pr55 {
    padding-right: 55px !important;
}

.pr60 {
    padding-right: 60px !important;
}

.pr65 {
    padding-right: 65px !important;
}

.pr70 {
    padding-right: 70px !important;
}

.pr75 {
    padding-right: 75px !important;
}

.pr80 {
    padding-right: 80px !important;
}

.pr85 {
    padding-right: 85px !important;
}

.pr90 {
    padding-right: 90px !important;
}

.pr95 {
    padding-right: 75px !important;
}

.pr100 {
    padding-right: 100px !important;
}

/* padding-left */

.pl0 {
    padding-left: 0 !important;
}

.pl5 {
    padding-left: 5px !important;
}

.pl10 {
    padding-left: 10px !important;
}

.pl15 {
    padding-left: 15px !important;
}

.pl20 {
    padding-left: 20px !important;
}

.pl25 {
    padding-left: 25px !important;
}

.pl30 {
    padding-left: 30px !important;
}

.pl35 {
    padding-left: 35px !important;
}

.pl40 {
    padding-left: 40px !important;
}

.pl45 {
    padding-left: 45px !important;
}

.pl50 {
    padding-left: 50px !important;
}

.pl55 {
    padding-left: 55px !important;
}

.pl60 {
    padding-left: 60px !important;
}

.pl65 {
    padding-left: 65px !important;
}

.pl70 {
    padding-left: 70px !important;
}

.pl75 {
    padding-left: 75px !important;
}

.pl80 {
    padding-left: 80px !important;
}

.pl85 {
    padding-left: 85px !important;
}

.pl90 {
    padding-left: 90px !important;
}

.pl95 {
    padding-left: 75px !important;
}

.pl100 {
    padding-left: 100px !important;
}

/* padding-top */

.pt0 {
    padding-top: 0px !important;
}

.pt5 {
    padding-top: 5px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt15 {
    padding-top: 15px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pt25 {
    padding-top: 25px !important;
}

.pt30 {
    padding-top: 30px !important;
}

.pt35 {
    padding-top: 35px !important;
}

.pt40 {
    padding-top: 40px !important;
}

.pt45 {
    padding-top: 45px !important;
}

.pt50 {
    padding-top: 50px !important;
}

.pt55 {
    padding-top: 55px !important;
}

.pt60 {
    padding-top: 60px !important;
}

.pt65 {
    padding-top: 65px !important;
}

.pt70 {
    padding-top: 70px !important;
}

.pt75 {
    padding-top: 75px !important;
}

.pt80 {
    padding-top: 80px !important;
}

.pt85 {
    padding-top: 85px !important;
}

.pt90 {
    padding-top: 90px !important;
}

.pt95 {
    padding-top: 75px !important;
}

.pt100 {
    padding-top: 100px !important;
}

/* padding-bottom */

.pb0 {
    padding-bottom: 0px !important;
}

.pb5 {
    padding-bottom: 5px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pb15 {
    padding-bottom: 15px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.pb25 {
    padding-bottom: 25px !important;
}

.pb30 {
    padding-bottom: 30px !important;
}

.pb35 {
    padding-bottom: 35px !important;
}

.pb40 {
    padding-bottom: 40px !important;
}

.pb45 {
    padding-bottom: 45px !important;
}

.pb50 {
    padding-bottom: 50px !important;
}

.pb55 {
    padding-bottom: 55px !important;
}

.pb60 {
    padding-bottom: 60px !important;
}

.pb65 {
    padding-bottom: 65px !important;
}

.pb70 {
    padding-bottom: 70px !important;
}

.pb75 {
    padding-bottom: 75px !important;
}

.pb80 {
    padding-bottom: 80px !important;
}

.pb85 {
    padding-bottom: 85px !important;
}

.pb90 {
    padding-bottom: 90px !important;
}

.pb95 {
    padding-bottom: 75px !important;
}

.pb100 {
    padding-bottom: 100px !important;
}

/*----------------------------------------------------------
                    0.1.3 Margin
-----------------------------------------------------------*/

.m0 {
    margin: 0 !important;
}

/* margin-right */

.mr0 {
    margin-right: 0px !important;
}

.mr5 {
    margin-right: 5px !important;
}

.mr10 {
    margin-right: 10px !important;
}

.mr15 {
    margin-right: 15px !important;
}

.mr20 {
    margin-right: 20px !important;
}

.mr25 {
    margin-right: 25px !important;
}

.mr30 {
    margin-right: 30px !important;
}

.mr35 {
    margin-right: 35px !important;
}

.mr40 {
    margin-right: 40px !important;
}

.mr45 {
    margin-right: 45px !important;
}

.mr50 {
    margin-right: 50px !important;
}

.mr55 {
    margin-right: 55px !important;
}

.mr60 {
    margin-right: 60px !important;
}

.mr65 {
    margin-right: 65px !important;
}

.mr70 {
    margin-right: 70px !important;
}

.mr75 {
    margin-right: 75px !important;
}

.mr80 {
    margin-right: 80px !important;
}

.mr85 {
    margin-right: 85px !important;
}

.mr90 {
    margin-right: 90px !important;
}

.mr95 {
    margin-right: 75px !important;
}

.mr100 {
    margin-right: 100px !important;
}

/* margin-left */

.ml0 {
    margin-left: 0px !important;
}

.ml5 {
    margin-left: 5px !important;
}

.ml10 {
    margin-left: 10px !important;
}

.ml15 {
    margin-left: 15px !important;
}

.ml20 {
    margin-left: 20px !important;
}

.ml25 {
    margin-left: 25px !important;
}

.ml30 {
    margin-left: 30px !important;
}

.ml35 {
    margin-left: 35px !important;
}

.ml40 {
    margin-left: 40px !important;
}

.ml45 {
    margin-left: 45px !important;
}

.ml50 {
    margin-left: 50px !important;
}

.ml55 {
    margin-left: 55px !important;
}

.ml60 {
    margin-left: 60px !important;
}

.ml65 {
    margin-left: 65px !important;
}

.ml70 {
    margin-left: 70px !important;
}

.ml75 {
    margin-left: 75px !important;
}

.ml80 {
    margin-left: 80px !important;
}

.ml85 {
    margin-left: 85px !important;
}

.ml90 {
    margin-left: 90px !important;
}

.ml95 {
    margin-left: 75px !important;
}

.ml100 {
    margin-left: 100px !important;
}

/* margin-top */

.mt0 {
    margin-top: 0px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt15 {
    margin-top: 15px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mt25 {
    margin-top: 25px !important;
}

.mt30 {
    margin-top: 30px !important;
}

.mt35 {
    margin-top: 35px !important;
}

.mt40 {
    margin-top: 40px !important;
}

.mt45 {
    margin-top: 45px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.mt55 {
    margin-top: 55px !important;
}

.mt60 {
    margin-top: 60px !important;
}

.mt65 {
    margin-top: 65px !important;
}

.mt70 {
    margin-top: 70px !important;
}

.mt75 {
    margin-top: 75px !important;
}

.mt80 {
    margin-top: 80px !important;
}

.mt85 {
    margin-top: 85px !important;
}

.mt90 {
    margin-top: 90px !important;
}

.mt95 {
    margin-top: 75px !important;
}

.mt100 {
    margin-top: 100px !important;
}

/* margin-bottom */

.mb0 {
    margin-bottom: 0px !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb15 {
    margin-bottom: 15px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mb25 {
    margin-bottom: 25px !important;
}

.mb30 {
    margin-bottom: 30px !important;
}

.mb35 {
    margin-bottom: 35px !important;
}

.mb40 {
    margin-bottom: 40px !important;
}

.mb45 {
    margin-bottom: 45px !important;
}

.mb50 {
    margin-bottom: 50px !important;
}

.mb55 {
    margin-bottom: 55px !important;
}

.mb60 {
    margin-bottom: 60px !important;
}

.mb65 {
    margin-bottom: 65px !important;
}

.mb70 {
    margin-bottom: 70px !important;
}

.mb75 {
    margin-bottom: 75px !important;
}

.mb80 {
    margin-bottom: 80px !important;
}

.mb85 {
    margin-bottom: 85px !important;
}

.mb90 {
    margin-bottom: 90px !important;
}

.mb95 {
    margin-bottom: 75px !important;
}

.mb100 {
    margin-bottom: 100px !important;
}

/*-----------------------------
          0.1.4 Border
------------------------------*/

.brd-rd0 {
    border-radius: 0 !important;
}

.brd-rd1 {
    border-radius: 1px !important;
}

.brd-rd2 {
    border-radius: 2px !important;
}

.brd-rd3 {
    border-radius: 3px !important;
}

.brd-rd4 {
    border-radius: 4px !important;
}

.brd-rd5 {
    border-radius: 5px !important;
}

.brd-rd6 {
    border-radius: 6px !important;
}

/*-----------------------------
          1.1 Navbar
------------------------------*/

.ui.sidebar.base-sidebar.menu ~ .ui.menu.base-navbar {
    padding-left: 90px;
}

.ui.visible.sidebar.base-sidebar.menu ~ .ui.menu.base-navbar {
    padding-left: 45px;
}

/*-----------------------------
          1.2 Sidebar
------------------------------*/

.ui.sidebar.base-sidebar.menu {
    width: 45px;
    overflow-y: visible !important;
    visibility: visible;
    transition: width .5s ease;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.ui.visible.sidebar.base-sidebar.menu {
    width: 260px;
}

.ui.sidebar.base-sidebar.menu .item.open-sidebar {
    position: absolute;
    right: -45px;
    width: 45px;
    background-color: #000;
    z-index: 102;
}

.ui.sidebar.base-sidebar.menu .header {
    position: relative;
    padding: 0.74857143em 1.142857em;
    color: transparent;
    font-weight: 700;
    width: 45px;
    display: block;
    height: 40px;
    overflow: hidden;
    background: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="32" height="32" viewBox="0 0 32 32" data-tags="brand,react"><g fill="#444" transform="scale(0.03125 0.03125)"><path fill="rgb(0, 216, 255)" d="M512.448 169.6l0.448-0.512c21.312-20.48 43.84-39.68 67.968-56.768 9.472-6.72 19.2-13.12 29.248-19.2 8.704-5.12 17.6-9.92 26.688-14.336 7.040-3.2 14.080-6.4 21.312-8.96 6.4-2.56 13.12-4.48 19.84-6.4 10.24-2.56 20.608-5.12 31.168-5.76h11.648c3.008 0 6.016 0 8.96 0.64 6.4 0.64 12.8 1.92 19.008 3.84 5.12 1.92 10.24 3.84 15.36 6.4 3.2 1.92 5.76 3.84 8.96 5.76 5.12 3.84 9.6 7.68 13.44 12.16 3.2 4.48 7.040 8.32 9.6 12.8 6.4 10.24 11.52 21.12 15.36 32 1.28 3.2 1.92 6.4 3.2 10.24 1.28 4.48 1.92 8.96 3.2 13.44 1.28 5.76 1.92 11.52 3.2 17.28l1.92 21.76c0.64 8.96 0.64 18.56 0.64 28.16 0 12.16-0.64 24.32-1.92 36.48-1.92 15.36-3.84 30.080-6.4 44.8-1.92 8.96-3.2 17.92-5.12 26.88l-3.84 15.36 8.32 2.56c15.36 4.48 30.080 9.6 45.44 15.36 11.52 4.48 23.68 9.6 35.2 15.36 10.24 5.12 20.48 10.24 30.080 16 10.88 6.4 21.12 12.8 30.72 20.48 8.32 6.4 16.64 13.44 24.32 20.48 5.76 5.76 10.88 11.52 16 17.92 3.84 5.12 7.68 10.88 10.88 16.64 4.48 8.32 7.68 16.64 10.24 25.6 1.28 5.12 1.92 10.88 1.92 16.64 0 3.2 0 7.040-0.64 10.88-0.64 5.76-1.92 12.16-3.84 17.92-1.28 5.76-3.84 10.88-6.4 16-5.76 10.88-12.8 21.12-21.12 30.72-2.56 3.2-5.12 5.76-7.68 8.32-3.84 3.84-7.040 7.040-10.88 10.24-4.48 3.84-9.6 8.32-14.72 11.52-6.4 5.12-12.8 9.6-19.2 13.44-8.32 5.76-17.28 10.88-26.24 15.36-11.52 5.76-22.4 11.52-33.92 16.64s-23.040 9.6-35.2 14.080c-10.24 3.84-20.48 7.040-30.72 10.24l-3.2 1.28c1.28 5.12 2.56 10.24 3.2 15.36 1.28 7.68 3.2 15.36 4.48 23.040 2.56 15.36 5.12 31.36 6.4 46.72 0.64 12.16 1.28 24.32 1.28 35.84 0 9.6-0.64 19.2-1.28 28.16-0.64 7.68-1.28 14.72-2.56 22.4-1.28 5.76-1.92 12.16-3.2 17.92l-3.84 14.080c-2.56 7.68-5.76 16-8.96 23.68-3.2 5.76-6.4 12.16-10.24 17.92s-8.32 10.88-13.44 16c-5.76 5.76-12.16 10.24-18.56 14.080-5.12 2.56-10.88 5.12-16 6.4-8.96 2.56-17.92 3.84-26.88 4.352-12.16 0.384-24.32-1.28-36.48-3.84-7.68-1.728-14.72-3.84-21.76-6.4-8.32-2.56-16-6.016-23.68-9.6-9.6-4.224-18.56-8.96-27.52-14.080-10.24-5.76-20.48-12.16-30.080-19.2-24.96-17.28-48.64-37.12-70.4-58.24l-5.12 4.48c-10.24 9.6-20.48 18.56-30.72 27.52-10.88 8.32-21.76 16.64-33.28 24.96-10.24 7.040-20.48 13.44-31.36 19.84-10.24 5.76-21.12 10.88-31.36 15.36-7.68 3.2-15.36 6.4-23.040 8.96-7.68 2.304-14.72 4.48-22.4 5.76-12.16 2.56-23.68 3.84-35.84 3.584-9.6 0-19.2-1.28-28.16-4.48-5.76-1.536-11.52-3.84-16.64-7.040-3.84-1.92-7.040-4.48-10.24-7.040-2.56-1.92-4.48-3.84-6.4-5.76-1.92-1.28-3.2-2.56-4.48-4.48-8.96-9.6-16-20.48-21.12-32.64l-1.92-5.76c-0.64-2.56-1.92-5.12-2.56-7.040-1.28-3.2-1.92-7.040-3.2-10.24-1.28-4.48-1.92-8.32-3.2-12.8-1.28-5.76-2.56-11.136-3.2-16.832-0.64-7.040-1.92-14.72-1.92-21.76-0.64-9.6-0.64-18.56-0.64-28.16 0-12.16 0.64-24.32 1.92-35.84 1.28-15.36 3.84-30.080 6.4-45.44l7.68-36.48-12.8-3.84c-15.36-4.672-30.080-10.24-44.8-16-10.24-3.84-19.84-8.32-30.080-13.44-8.96-4.48-17.92-8.96-26.88-14.72-11.52-6.4-22.208-13.44-32.512-21.12-8.32-6.4-16.64-13.44-24.96-21.12 2.496-13.568-3.264-19.968-8.384-26.368-4.48-5.76-8.512-11.712-12.16-18.048-3.2-5.76-5.76-11.904-8.064-18.176-0.64-2.816-1.536-5.76-2.176-8.576-1.6-5.888-2.432-11.968-2.56-18.048 0-3.84 0.128-7.68 0.512-11.392 0.384-2.816 0.832-5.76 1.472-8.512l1.856-6.848c4.096-13.44 11.2-25.984 19.84-37.12 1.152-1.664 2.368-3.2 3.648-4.736 1.664-2.048 3.392-4.032 5.12-5.952 2.432-2.688 4.928-5.248 7.552-7.808l10.88-9.6c4.8-3.84 9.6-7.68 14.592-11.52 6.4-4.48 13.056-8.96 19.84-13.44 8.32-5.12 17.024-10.24 25.856-14.72 11.264-5.76 22.784-10.88 34.56-16 21.12-8.96 42.752-16 64.768-22.4l5.12-1.28c-3.2-13.44-6.4-26.88-8.96-40.32-2.56-14.080-5.12-28.8-6.4-43.52-1.28-11.52-1.92-23.040-2.56-35.2-0.64-8.96 0-18.56 0-28.16 0-7.040 0.64-14.080 1.92-21.12 0.64-5.76 1.28-11.52 2.56-17.28 0.64-4.48 1.92-8.96 3.2-13.44 0.64-3.2 1.92-7.040 3.2-10.24l2.56-6.4c0.64-1.92 1.28-3.84 2.56-5.76 5.12-11.52 11.52-23.040 20.48-32.64 1.92-1.92 3.84-3.84 6.4-5.76 1.92-1.92 3.84-3.2 5.76-5.12 2.56-1.92 5.76-3.84 8.96-5.76 5.12-2.56 10.24-5.12 16-6.4 6.4-1.92 12.8-3.2 19.2-3.84 1.92 0 3.84-0.64 5.76-0.64h9.6l7.040 0.64c10.24 1.28 20.48 3.2 30.72 5.76 6.4 1.92 13.44 3.84 19.84 6.4 7.040 2.56 13.44 5.76 20.48 8.96 10.24 5.12 19.84 10.24 29.44 16 10.24 6.4 20.48 12.8 30.72 19.84 11.52 8.32 23.040 17.28 34.56 26.88 8.96 7.68 17.28 15.36 26.24 23.040l5.76 5.76zM768.896 694.272c-7.488 1.728-15.040 3.392-22.592 4.864-17.28 3.52-34.56 6.528-51.84 9.088-18.56 2.688-37.12 4.928-56.32 6.72-2.56 0.64-5.12 0.64-7.68 1.28-11.52 17.28-24.32 34.56-37.12 50.56-13.44 17.92-27.52 35.2-42.24 51.2l-6.4 7.040c19.2 18.56 39.040 35.84 60.8 51.2 8.96 6.4 17.92 12.16 26.88 17.92 7.68 5.12 16 8.96 24.32 13.44 7.040 3.2 14.080 6.4 21.76 8.96 5.76 1.92 11.52 3.84 17.92 5.12 5.12 1.28 10.24 2.56 15.36 2.56 4.48 0.64 8.96 0.64 12.8 0.64 6.4 0 13.44-1.28 19.2-3.84l5.12-2.56c3.84-1.92 7.040-5.12 9.6-8.32 3.84-4.48 7.040-9.6 10.24-14.72 1.28-1.28 1.92-3.2 3.2-5.12l3.2-7.68c1.28-3.2 2.56-6.4 3.2-10.24 1.28-4.48 2.56-8.32 3.2-12.8 1.28-5.76 1.92-11.52 3.2-17.28s1.28-12.16 1.92-18.56c0.64-14.080 0.64-28.16-0.64-42.24-0.64-13.44-2.56-27.52-4.48-40.96-1.92-10.88-3.84-22.4-6.4-33.28l-2.56-10.88zM257.344 696.192l-3.84 18.56c-4.48 21.248-7.68 42.752-9.6 64.448-1.28 14.336-1.28 28.8-1.28 43.136 0.64 5.76 0.64 12.16 1.28 18.56 0.64 5.76 1.92 10.88 2.56 16.64 0.64 3.84 1.92 8.32 2.56 12.16 1.28 3.2 1.92 6.4 3.2 9.6 1.28 2.56 1.92 5.12 3.2 7.68l3.2 5.76c0.64 1.28 1.28 2.56 2.56 3.84l1.92 3.2 1.92 2.56c3.84 5.12 7.68 9.6 13.44 12.8l3.84 1.92c3.2 1.28 5.76 2.56 8.96 3.2 4.48 0.64 8.32 1.28 12.8 1.28s8.96 0 12.8-0.64c5.12-0.64 10.24-1.92 15.36-2.56 6.4-1.28 12.16-3.2 17.92-5.12 7.040-2.56 13.44-5.12 20.48-8.32 9.6-4.48 18.56-8.96 26.88-14.080 9.6-5.76 19.2-12.16 28.8-18.56 9.6-7.040 19.2-14.080 28.16-21.76 5.76-4.48 10.88-8.96 16.64-14.080 4.48-4.48 9.6-8.32 14.080-12.8l1.92-1.92-10.88-12.16c-14.72-16.64-28.8-33.92-42.88-51.2-11.52-14.72-23.040-30.080-33.92-45.44h-3.84c-19.84-1.92-39.68-3.84-58.88-6.4-17.92-2.56-35.84-5.76-53.76-8.96l-21.12-4.48zM574.144 719.36c-19.2 0.896-39.040 1.28-58.88 1.408-18.56 0-37.12-0.256-56.32-0.96l-6.4-0.192 13.44 16.768c12.8 15.744 25.6 31.104 39.040 46.080 3.2 3.648 6.4 7.296 10.24 10.88l5.12-5.76c13.44-15.168 26.24-30.912 39.040-47.040 5.12-6.4 10.88-13.44 16-21.12zM606.144 350.592c-19.84-1.536-40.32-2.56-60.8-3.072-9.6-0.256-19.2-0.384-29.44-0.448h-4.48c-9.6 0-18.56 0.128-28.16 0.384-21.12 0-42.24 1.28-63.36 2.56-12.16 17.92-23.68 35.84-35.2 54.4-12.8 21.12-24.96 42.88-36.48 64.64-7.040 13.44-14.080 27.52-21.12 41.6 7.68 15.36 15.36 30.72 23.68 45.44 12.16 22.4 24.96 44.16 37.76 65.92 10.88 16.64 21.76 33.92 32.64 49.92l38.4 1.92c18.56 0.64 36.48 0.64 55.040 0.64 31.36 0 62.72-1.28 93.44-3.2 10.88-16 21.12-32.64 31.36-48.64 22.4-37.12 43.52-74.88 62.080-113.92-6.4-13.44-12.8-26.24-19.84-39.040-8.96-17.28-18.56-33.92-28.16-49.92-13.44-23.040-27.52-46.080-42.88-68.48l-2.56-3.84zM302.784 563.712c-4.48 11.52-9.6 23.424-14.080 35.2-7.040 18.24-13.44 36.608-19.2 55.040 10.88 2.56 22.4 4.608 33.28 6.528 16 2.816 32.64 5.12 48.64 7.168 4.48 0.64 8.96 1.088 13.44 1.536-7.040-11.072-14.080-22.272-20.48-33.536-14.080-23.552-27.52-47.616-40.32-72zM723.264 562.048c-6.4 12.608-13.44 24.96-19.84 37.44-7.68 13.824-15.36 27.52-23.68 41.216-5.12 9.6-10.88 18.56-16.64 28.16l9.6-1.28c16-1.92 32-4.48 47.36-7.040 12.8-1.92 26.24-4.48 39.040-7.68-5.12-17.28-11.52-34.56-18.56-51.84-4.48-12.8-10.24-25.6-15.36-37.76zM227.904 382.848l-14.080 4.224c-15.36 4.8-31.36 10.24-46.080 16.512-8.96 3.712-17.92 7.68-26.88 12.16-9.6 4.672-18.56 9.728-28.16 15.36-7.68 4.8-16 10.112-23.040 15.872-5.76 4.224-10.88 8.704-16 13.568-4.48 4.032-8.32 8.32-12.16 12.8-2.56 3.52-5.12 7.040-7.68 10.88-1.92 3.2-3.84 6.4-5.12 9.856-1.92 4.672-3.2 9.6-3.2 14.72v3.84c0 5.632 1.92 11.264 3.84 16.448l1.28 2.752 1.92 3.328 2.56 4.48 3.84 5.44 5.12 6.144c1.92 2.56 4.48 4.992 6.4 7.36 3.2 2.944 5.76 5.76 8.96 8.576 3.84 3.2 7.040 6.208 10.88 9.152 5.12 3.84 10.24 7.68 15.36 11.264 6.4 4.48 12.8 8.96 19.84 12.8 8.96 5.12 17.92 9.6 26.88 14.080 10.88 5.12 22.4 10.24 33.28 14.72 10.24 3.84 19.84 7.68 29.44 10.24l14.72 4.48 13.44-40.32c8.32-22.4 16.64-44.16 26.24-65.92l11.52-24.32-10.88-24.32c-9.6-21.76-18.56-44.8-26.88-67.2-4.48-12.16-8.96-24.96-12.8-37.76zM798.144 383.488c-3.2 11.008-7.040 21.952-10.88 32.832-7.68 22.912-16.64 45.568-26.88 67.84l-12.16 27.2 15.36 33.28c9.6 20.8 17.92 41.856 25.6 63.168 4.48 11.008 8.32 22.144 11.52 33.28l7.68-2.304c8.96-2.56 17.28-5.12 25.6-8.32 17.28-5.76 33.92-12.8 49.92-21.12 10.24-4.48 19.84-10.24 28.8-16 8.32-4.48 16-10.24 23.68-16 5.76-3.84 10.88-8.32 16-13.44 4.48-3.84 8.96-8.96 12.8-13.44 3.2-3.2 5.76-7.040 8.32-10.88 1.92-3.2 3.84-6.4 5.12-9.6 2.56-4.48 3.84-9.6 3.84-15.36 0.64-1.28 0.64-2.56 0-4.48 0-3.2-0.64-7.040-1.92-10.24-1.28-4.48-3.2-8.32-5.76-12.16l-1.92-3.84-3.2-4.48c-1.28-1.92-3.2-3.84-4.48-5.76-1.92-1.92-3.84-4.48-6.4-7.040s-5.76-5.12-8.32-7.68c-3.84-3.2-7.68-6.4-12.16-9.6-4.48-3.84-9.6-7.040-14.080-10.24-6.4-4.48-12.8-8.32-19.84-12.16-8.32-4.48-17.28-8.96-26.24-12.8-10.24-5.12-21.12-8.96-32-13.44-14.72-5.76-30.080-10.24-45.44-14.72zM512 419.776c-50.56 0-91.52 40.96-91.52 91.52 0 50.432 40.96 91.392 91.52 91.392s91.52-40.96 91.52-91.328c0-50.56-40.96-91.52-91.52-91.52zM661.504 356.48c11.264 17.536 22.080 35.456 32.512 53.568 9.6 16.768 19.072 33.728 28.16 50.88 5.44-12.928 10.688-25.984 15.68-39.168 5.76-16.192 11.52-32.512 16.64-49.024-10.88-2.56-21.76-4.8-33.28-6.848-20.48-3.84-40.32-6.912-60.8-9.472zM362.624 356.288c-9.28 1.152-18.432 2.432-27.648 3.84-15.68 2.368-31.36 5.12-46.912 8.32-5.76 1.152-12.16 2.432-17.92 3.84 5.76 17.6 11.52 35.072 17.92 52.288 4.48 12.16 9.6 24.32 14.72 36.288 11.52-21.76 23.68-44.16 36.48-65.28 8.32-12.8 16-26.24 24.32-39.040zM766.656 330.56l1.92-8.512c2.56-11.136 4.48-22.272 6.4-33.536 2.56-14.592 3.84-29.44 5.12-44.16 0.64-14.4 1.28-28.928 0.64-43.392-0.64-6.528-0.64-13.12-1.92-19.584-0.64-5.76-1.92-11.328-2.56-16.896-1.28-4.352-1.92-8.64-3.2-12.8-1.28-3.2-1.92-6.4-3.2-9.6l-1.856-7.424-2.368-4.992c-0.832-1.536-1.6-3.072-2.56-4.48-0.64-1.28-1.408-2.56-2.24-3.712-0.64-0.832-1.152-1.728-1.728-2.56-3.2-5.12-8.32-9.6-13.44-12.8-1.28-1.088-3.2-1.92-5.12-2.56-4.48-1.92-9.6-2.816-14.72-3.2-1.28 0-2.56 0-3.84-0.128h-1.28c-1.28 0-2.56 0-4.48 0.192-3.84 0-7.68 0.64-11.52 1.28-4.48 0.64-9.6 1.92-14.080 3.2l-17.28 5.76c-6.4 2.56-12.8 5.76-19.84 8.96-8.32 3.84-16 8.96-24.32 13.44-8.32 5.12-17.28 10.88-25.6 17.28-20.48 14.72-39.68 31.36-58.24 49.28l8.32 8.96c16.64 17.92 32 36.48 46.72 55.68 10.88 13.44 21.12 28.16 31.36 42.24l26.24 2.56c19.2 1.92 38.4 5.12 57.6 8.32 17.92 2.56 35.84 6.4 53.12 10.24zM481.92 200.768c-0.96-0.832-1.92-1.664-2.752-2.56-8.32-7.68-16.768-15.36-25.6-22.656-9.6-8.128-19.648-16-29.952-23.36-9.6-6.528-18.56-12.672-28.16-18.432-8.32-4.992-17.28-9.6-25.6-13.888-6.4-3.008-12.8-5.76-19.2-8.32-5.76-2.176-12.16-4.096-17.92-5.76-4.48-1.28-8.96-2.176-13.44-3.008-4.48-0.64-8.32-1.152-12.16-1.408l-4.48-0.128h-0.64c-1.28 0-2.56 0-3.84 0.128-6.4 0.32-12.8 1.472-18.56 3.968-1.92 0.832-3.84 1.792-5.76 2.944-3.84 2.368-7.040 5.376-9.6 8.64-3.84 4.48-7.040 9.408-9.6 14.592l-2.56 5.376c-1.28 1.92-1.92 4.48-2.56 7.040-1.28 3.2-2.56 5.76-3.2 8.96-0.64 3.84-1.92 8.32-2.56 12.16-0.64 5.12-1.92 10.24-2.56 16s-1.28 12.16-1.28 18.56c-0.64 14.080 0 28.16 0.64 42.24 1.28 21.76 5.12 43.52 9.6 65.28 1.28 7.040 3.2 14.080 4.48 21.12 6.4-1.92 13.44-3.2 19.84-4.48 15.36-3.2 31.36-6.4 47.36-8.32 17.28-3.2 35.2-5.12 52.48-7.040l16-1.92c10.24-14.72 21.12-28.8 32-42.88 14.080-17.92 28.8-35.84 44.16-52.48l11.52-12.8zM512.512 232l-10.432 11.52c-13.696 15.36-26.88 31.104-39.552 47.232l-10.88 14.080c7.936-0.448 15.808-0.768 23.68-0.96 10.24-0.32 20.48-0.448 30.72-0.512h7.424c9.216 0 18.432 0.128 27.648 0.32 10.56 0.256 21.12 0.64 31.616 1.088l-10.24-12.8c-13.44-17.408-27.52-34.432-42.24-50.816l-8.256-9.152z" /></g></svg>');
    background-repeat: no-repeat;
    background-position: 6px 4px;
}

.ui.visible.sidebar.base-sidebar.menu .header {
    background: none;
    width: auto;
    color: #fff;
    white-space: nowrap;
}

.ui.sidebar.base-sidebar.menu .header:before {
    position: absolute;
    content: '';
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, .08);
}

.ui.sidebar.base-sidebar.menu .item:not(.open-sidebar) {
    white-space: nowrap;
    padding: 0;
}

.ui.sidebar.base-sidebar.menu .item:not(.open-sidebar) > .item.parent {
    display: block;
    padding: .77151em .342857em .77151em .842857em;
}

.ui.visible.sidebar.base-sidebar.menu .item:not(.open-sidebar) > .item.parent {
    padding: .82857143em .342857em .82857143em .842857em;
}

.ui.sidebar.base-sidebar.menu .item:not(.open-sidebar) > .parent:hover {
    background: rgba(0, 0, 0, 0.35);
}

.ui.sidebar.base-sidebar.menu .item:not(.open-sidebar) > .item.parent > i.icon {
    font-size: 16px;
    float: none;
    margin: 0 0 0 0.087143em;
}

.ui.visible.sidebar.base-sidebar.menu .item:not(.open-sidebar) > .item.parent > i.icon {
    font-size: 14px;
}

.ui.sidebar.base-sidebar.menu .item:not(.open-sidebar) > .item.parent > span {
    display: none;
}

.ui.visible.sidebar.base-sidebar.menu .item:not(.open-sidebar) > .item.parent > span {
    margin-left: 8px;
    display: inline;
}

.ui.sidebar.base-sidebar.menu > .item:not(.open-sidebar) > .menu {
    position: absolute;
    left: 45px;
    top: 0px;
    width: 235px;
    visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    margin: 0;
    overflow: hidden;
    background-color: #3d3e3f;
}

.ui.sidebar.base-sidebar.menu > .item:hover:not(.open-sidebar) > .menu {
    visibility: visible;
}

.ui.visible.sidebar.base-sidebar.menu > .item:not(.open-sidebar) > .menu {
    position: relative;
    left: auto;
    top: auto;
    width: auto;
    visibility: visible;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    margin: 0;
}

.ui.visible.sidebar.base-sidebar.menu > .item:not(.open-sidebar) > .menu {
    display: none;
}

.ui.visible.sidebar.base-sidebar.menu > .item:not(.open-sidebar) > .item.active ~ .menu {
    display: block;
    background: rgba(100, 100, 100, .25);
}

.ui.sidebar.base-sidebar.menu > .item:not(.open-sidebar) > .menu > .item > a.item {
    display: block;
    font-size: 12px;
    width: 100%;
    padding: 0.80251em .342857em .83951em 1.542857em;
}

.ui.sidebar.base-sidebar.menu > .item:not(.open-sidebar) > .menu > .item > a.item:before {
    content: "\f101";
    font-size: 14px;
    font-family: Icons;
    margin-left: 10px;
    margin-right: 10px;
    transition: margin ease 0.5s;
    position: relative;
    height: 14px;
    width: 8px;
    display: inline-block !important;
    background: transparent;
}

.ui.sidebar.base-sidebar.menu > .item:not(.open-sidebar) > .menu > .item > a.item:hover:before {
    margin-right: 20px;
}

.ui.sidebar.base-sidebar.menu > .item:not(.open-sidebar) > .menu > .item:not(:first-child) > a.item:after,
.ui.visible.sidebar.base-sidebar.menu > .item:not(.open-sidebar) > .menu > .item:first-child > a.item:after {
    position: absolute;
    content: '';
    top: -1px;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
}

.ui.sidebar.base-sidebar.menu > .item:not(.open-sidebar) > .menu > .item > a.item:hover {
    background: rgba(0, 0, 0, 0.25);
}

/*-----------------------------
          1.3 Base layout
------------------------------*/

.ui.sidebar.base-sidebar.menu ~ .ui.menu.base-navbar,
.ui.sidebar.base-sidebar.menu ~ .ui.fluid.container {
    -webkit-transition: margin-left .5s ease, width .5s ease, padding-left .5s ease;
    transition: margin-left .5s ease, width .5s ease, padding-left .5s ease;
    transform: none;
}

.ui.visible.sidebar.base-sidebar.menu ~ .ui.menu.base-navbar,
.ui.visible.sidebar.base-sidebar.menu ~ .ui.fluid.container {
    margin-left: 260px !important;
    width: calc(100% - 260px);
}

.ui.sidebar.base-sidebar.menu ~ .ui.fluid.container {
    padding: 45px 5px 10px;
    margin-left: 45px !important;
    width: calc(100% - 45px);
}

/*-----------------------------
           Chat
-----------------------------*/

.chat-box {
    position: fixed;
    left: auto !important;
    top: auto !important;
    bottom: -370px;
    right: 35px !important;
}

.ui.chatroom {
    background-color: #F8F8F8;
    width: 330px;
    height: 370px;
    padding: 0px;
}

.ui.chatroom .room {
    position: relative;
    background-color: #FFFFFF;
    overflow: hidden;
    height: 286px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    border-bottom: none;
}

.ui.chatroom .room .loader {
    display: none;
    margin: -25px 0px 0px -25px;
}

/* Chat Room Actions */
.ui.chatroom .actions {
    overflow: hidden;
    background-color: #EEEEEE;
    padding: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px 5px 0px 0px;
}

.ui.chatroom .actions .button {
    float: right;
    margin-left: 3px;
}

/* Online User Count */
.ui.chatroom .actions .message {
    float: left;
    margin-left: 6px;
    font-size: 11px;
    color: #AAAAAA;
    text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.8);
    line-height: 28px;
}

.ui.chatroom .actions .message .loader {
    display: inline-block;
    margin-right: 8px;
}

/* Chat Room Text Log */
.ui.chatroom .log {
    float: left;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
}

.ui.chatroom .log .message {
    padding: 3px 0px;
    border-top: 1px dotted #DADADA;
}

.ui.chatroom .log .message:first-child {
    border-top: none;
}

/* status event */
.ui.chatroom .status {
    padding: 5px 0px;
    color: #AAAAAA;
    font-size: 12px;
    font-style: italic;
    line-height: 1.33;
    border-top: 1px dotted #DADADA;
}

.ui.chatroom .log .status:first-child {
    border-top: none;
}

.ui.chatroom .log .flag {
    float: left;
}

.ui.chatroom .log p {
    margin-left: 0px;
}

.ui.chatroom .log .author {
    font-weight: bold;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
}

.ui.chatroom .log a.author:hover {
    opacity: 0.8;
}

.ui.chatroom .log .message.admin p {
    font-weight: bold;
    margin: 1px 0px 0px 23px;
}

.ui.chatroom .log .divider {
    margin: -1px 0px;
    font-size: 11px;
    padding: 10px 0px;
    border-top: 1px solid #F8F8F8;
    border-bottom: 1px solid #F8F8F8;
}

.ui.chatroom .log .divider .rule {
    top: 50%;
    width: 15%;
}

.ui.chatroom .log .divider .label {
    color: #777777;
    margin: 0px;
}

/* Chat Room User List */
.ui.chatroom .room .list {
    position: relative;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    float: left;
    background-color: #EEEEEE;
    border-left: 1px solid #DDDDDD;
}

.ui.chatroom .room .list .user {
    display: table;
    padding: 3px 7px;
    border-bottom: 1px solid #DDDDDD;
}

.ui.chatroom .room .list .user:hover {
    background-color: #F8F8F8;
}

.ui.chatroom .room .list .image {
    display: table-cell;
    vertical-align: middle;
    width: 20px;
}

.ui.chatroom .room .list .image img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.ui.chatroom .room .list p {
    display: table-cell;
    vertical-align: middle;
    padding-left: 7px;
    padding-right: 14px;
    font-size: 11px;
    line-height: 1.2;
    font-weight: bold;
}

.ui.chatroom .room .list a:hover {
    opacity: 0.8;
}

/* User List Loading */
.ui.chatroom.loading .loader {
    display: block;
}

/* Chat Room Talk Input */
.ui.chatroom .talk {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 0px 0px;
    background-color: #EEEEEE;
    border-radius: 0px 0px 5px 5px;
}

.ui.chatroom .talk .avatar,
.ui.chatroom .talk input,
.ui.chatroom .talk .button {
    float: left;
}

.ui.chatroom .talk .avatar img {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 4px;
    border-radius: 500rem;
}

.ui.chatroom .talk input {
    border: 1px solid #CCCCCC;
    margin: 0px;
    width: 196px;
    height: 14px;
    padding: 8px 5px;
    font-size: 12px;
    color: #555555;
}

.ui.chatroom .talk input.focus {
    border: 1px solid #AAAAAA;
}

.ui.chatroom .send {
    width: 80px;
    height: 32px;
    margin-left: -1px;
    padding: 4px 12px;
    font-size: 12px;
    line-height: 23px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) inset;
    border-radius: 0 5px 5px 0;
}

.ui.chatroom .talk .log-in.button {
    display: block;
    float: none;
    margin-top: -6px;
    height: 22px;
    border-radius: 0px 0px 4px 4px;
}

.ui.chatroom .talk .log-in.button i {
    vertical-align: text-top;
}

/* Quirky Flags */
.ui.chatroom .log .team.flag {
    width: 18px;
}

/* Chat room Loaded */
.ui.chatroom.loading .loader {
    display: block;
}

/* Standard Size */
.ui.chatroom {
    width: 330px;
    height: 370px;
}

.ui.chatroom .room .container {
    width: 3000px;
}

.ui.chatroom .log {
    width: 314px;
    height: 278px;
    padding: 4px 7px;
}

.ui.chatroom .room .list {
    width: 124px;
    height: 278px;
    padding: 4px 0px;
}

.ui.chatroom .room .list .user {
    width: 110px;
}

.ui.chatroom .talk {
    height: 40px;
}

/*-----------------------------
    1.4 Base NotFound layout
------------------------------*/

@font-face {
    font-family: 'MarckScript';
    src: url(fonts/MarckScript-Regular.ttf) format('truetype');
}

.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    min-height: 100%;
    background: #eaeaea;
    font-size: 2em;
    font-family: 'MarckScript', cursive;
}

.not-found .wrap {
    margin: 0 auto;
    width: 1000px;
}

.not-found .logo {
    text-align: center;
}

.not-found .logo img {
    width: 350px;
}

.not-found .logo p {
    color: #272727;
    font-size: 40px;
    margin-top: 1px;
}

.not-found .logo p span {
    color: lightgreen;
}

.not-found .sub a {
    margin-top: 15px;
    color: #fff;
    background: #272727;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 13px;
    font-family: arial, serif;
    font-weight: bold;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -border-radius: .5em;
}

/*-----------------------------
    1.5 Login form
---------------------------- */

.login-form {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

/*-----------------------------
    3.1 Instructions
------------------------------*/

.ui.vertical.page-header {
    border-bottom: 1px solid #e9e9e9;
    vertical-align: middle;
    margin: 20px -20px 15px -20px;
    padding: 0;
}

.ui.vertical.page-header .content {
    padding: 0 20px;
}

.ui.vertical.page-header .button {
    margin: 0;
}

.page .ui.top.attached.header {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #4c4d5a;
    border-color: #dcdcdc;
    background: #f6f6f6;
    text-shadow: 0 -1px 0 rgba(50, 50, 50, 0)
}

.page .ui.form .inline.field > label {
    width: 17%;
    text-align: right;
    padding-right: 10px;
}

.page .ui.dividing.header {
    padding: 8px 13px;
    margin: 0 0 30px;
}

.page .ui.form .inline.field > input,
.page .ui.form .inline.field:not(.wide) .ui.input {
    width: 80%;
}

.page .ui.table {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.page .actions .ui.button {
    padding: 10px 14px;
}

.page .actions .ui.button:not(.icon) > .icon:not(.button):not(.dropdown) {
    margin: 0;
}

.sortable-list {
    display: flex;
    align-items: center;
}

.sortable-list .buttons-block {
    margin-left: auto;
}

i.icon.sortable-icon {
    font-size: 1.4em;
}

.demo-editor {
    border: 1px solid grey;
}

